<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaBlog</title>
    <link rel="stylesheet" href="styles/post.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/read.css">
    <link rel="stylesheet" href="styles/contact.css">
    <link rel="stylesheet" href="styles/about.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<header>
    <nav>
        <span class="blog_logo">Meta<samp class="logo_color">Blog</samp></span>
        <ul class="items">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contect Us</a></li>
        </ul>
    </nav>
</header>
<body>