<%- include("partials/header.ejs") %>

<div class="about_page">
    <h1>Meta<span class="span_color">Blog</span></h1>    
    <p>
        Welcome to MetaBlog, your platform for creative expression and connection through blogging.
        
        MetaBlog is designed to empower you to share your thoughts, stories, and ideas with the world. Whether you're a seasoned writer, a passionate blogger, or someone just starting to explore the world of online publishing, MetaBlog provides you with the tools to craft, edit, and manage your own blog posts effortlessly.
    </p>
</div>

<%- include("partials/footer.ejs") %>